/* Container conteudo principal/meio */
.dashconteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    gap: px;
  }
  
  .listameterias {
    position: relative; 
    height: 200px;
    width: 980px;
    left: 16px;
    font-size: 12px;
  }
  
  .containermaterias {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px; 
    height: 170px;
  }
  
  .materias {
    background-color: #FFFFFF;
    height: 170px;
    width: 200px;
    border-radius: 10px; 
    text-align: center;
  }
  
  .materias:hover {
    background-color: #6A75CA;
    color: #F1F2FA;
  }
  
  .listalunos {
    position: relative; 
    background-color: #EFF2F8;
    height: 200px;
    width: 900px;
    padding: 10px;
    box-sizing: border-box;
    left: 16px;
    top: 50px;
  }
  
  .alunos-list {
    position: absolute;
    left: 0; 
    right: 0; 
    background-color: #EFF2F8;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
  }
  
  .aluno-item {
    display: flex;
    align-items: center;
    background-color: #EFF2F8; 
    padding: 5px;
    border-radius: 10px; 
    gap: 10px;
  }
  
  .aluno-item:hover {
    background-color: #FFFFFF;
  }
  
  .aluno-item:hover .aluno-nome .aluno-nota {
    font-size: 16px;
  }

  .aluno-item:hover .aluno-nota {
    font-size: 16px;
  }
  
  .aluno-item:hover .aluno-foto {
    width: 35px; 
    height: 35px;
  }
  
  .aluno-foto {
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    margin: 5px;
  }
  
  .aluno-nome {
    font-size: 12px;
  }
  


  .titulo {
    font-size: 20px;
  }
  .aluno-nota {
    background-color: green;
    font-size: 12px;
  }

